.homeScreen {
  position: relative;
  height: 50vh;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/elitebg.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.backgroundImage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(173, 216, 230, 0.3);
}

.detailBtn {
  background-color: white;
  color: #942d3b;
  padding: 10px 20px;
  border: 1px solid #942d3b;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-top: 19px;
  transition: background-color 0.3s, color 0.3s;
}

.detailBtn:hover {
  background-color: #942d3b;
  color: white;
}
